/* styling the site body rows */

.body-row {
  padding-top: 50px;
  text-align: center;
}

.photoContainer {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
}

.gridImg{
  margin-bottom: 20px;
}

.sam-and-sarah {
  font-size: 5rem;
}

.faqA {
  text-align: left;
}

.faqQ {
  text-align: left;
  padding-right: 50px;
}

.faqRow {
  padding-top:50px;
  font-size: 20px;
}

@media (max-width:500px) {
  .sam-and-sarah {
    font-size: 50px;
  }
}

@media(max-width:400px) {
  .faqQ {
    padding-left:10%;
  }
  .faqA {
    padding-left:10%;
  }
  .gridImg {
    margin-bottom: 8px;
  }
  .imgCol {
    padding:5px;
  }
}